.git
.env
.env.*
!.env.example

**/node_modules
console/dist
console/dist-ssr
console/.cache

registry/certs/*
!registry/certs/.gitkeep
registry/data/*
!registry/data/.gitkeep

postgres_dev_data
redis_dev_data
backups
*.log
.DS_Store
